{% comment %} <h1> question 1 </h1>
{{request.session.my_url}}
<form>
    <input type="radio" name="answer2_new" value="1" onchange="ajax2_func_new_user()"  > Beajs8<br>
         <input type="radio" name="answer2_new" value="1" onchange="ajax2_func_new_user()" > Between 18 and 65 <br>
         <input type="radio" name="answer2_new" value="1" onchange="ajax2_func_new_user()" > Over 65  
         <input type='SUBMIT' >
</form>
 {% endcomment %}


<h1>question 1 </h1>

<form >
  <div style="display:flex;">
    <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: fit-content;
    width: auto; MARGIN:10PX;  border-radius:3px;">
    <input type="checkbox" id="myCheckbox_1" style="visibility:hidden;" name="answer2_new" value="1" onclick="ajax2_func_new_user()"  />
    <label for="myCheckbox_1"><img  src="https://static.wixstatic.com/media/b99174_7e37ac5760204ea186d13439fd726480~mv2.jpg/v1/fill/w_980,h_1348,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/b99174_7e37ac5760204ea186d13439fd726480~mv2.jpg" style="width:100%; height:auto;"  /></label>
    </div>

    
  <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: fit-content; border-radius:3px;
  width: auto; MARGIN:10PX; ">
  <input type="checkbox" id="myCheckbox_2" style="visibility:hidden;" name="answer2_new" value="2" onclick="ajax2_func_new_user()"  />
  <label for="myCheckbox_2"><img  src="https://static.wixstatic.com/media/b99174_7e37ac5760204ea186d13439fd726480~mv2.jpg/v1/fill/w_980,h_1348,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/b99174_7e37ac5760204ea186d13439fd726480~mv2.jpg" style="width:100%; height:auto;"  /></label>
  </div>

  
  <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: fit-content;
  width: auto; MARGIN:10PX; border-radius:3px; ">
  <input type="checkbox" id="myCheckbox_3" style="visibility:hidden;" name="answer2_new" value="3" onclick="ajax2_func_new_user()"  />
  <label for="myCheckbox_3"><img  src="https://static.wixstatic.com/media/b99174_7e37ac5760204ea186d13439fd726480~mv2.jpg/v1/fill/w_980,h_1348,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/b99174_7e37ac5760204ea186d13439fd726480~mv2.jpg" style="width:100%; height:auto;"  /></label>
  </div>


  <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto; MARGIN:10PX; ">
  <input type="checkbox" id="myCheckbox_4" style="visibility:hidden;" name="answer2_new" value="4" onclick="ajax2_func_new_user()"  />
  <label for="myCheckbox_4"><img  src="https://static.wixstatic.com/media/b99174_7e37ac5760204ea186d13439fd726480~mv2.jpg/v1/fill/w_980,h_1348,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/b99174_7e37ac5760204ea186d13439fd726480~mv2.jpg" style="width:100%; height:auto;"  /></label>
  </div>


</div>   
</form>
