<input type="checkbox" id="myCheckbox1" />
<label for="myCheckbox1"><img style="height:50px; width:50px;" src="https://static.wixstatic.com/media/b99174_93b7efaedb5144d597e19d7b88eacda8~mv2.jpg/v1/fill/w_1719,h_1365,al_c,q_90,enc_auto/b99174_93b7efaedb5144d597e19d7b88eacda8~mv2.jpg" /></label>

<input type="checkbox" id="myCheckbox3" />
<label for="myCheckbox3"><img style="height:50px; width:50px;" src="https://static.wixstatic.com/media/b99174_93b7efaedb5144d597e19d7b88eacda8~mv2.jpg/v1/fill/w_1719,h_1365,al_c,q_90,enc_auto/b99174_93b7efaedb5144d597e19d7b88eacda8~mv2.jpg" /></label>

<input type="checkbox" id="myCheckbox2" style="display:hidden; visibility:hidden;" value="shuaib" />
<label for="myCheckbox2"><img style="height:50px; width:50px;" onclick="test()" src="https://static.wixstatic.com/media/b99174_93b7efaedb5144d597e19d7b88eacda8~mv2.jpg/v1/fill/w_1719,h_1365,al_c,q_90,enc_auto/b99174_93b7efaedb5144d597e19d7b88eacda8~mv2.jpg" /></label>


<script>
function test(){ let x =document.getElementById('myCheckbox3').value
    console.log(x)
    let xx =document.getElementById('myCheckbox2').value
console.log('workingggggggg')
console.log(xx)

}


</script>